body {
    text-align: center;
    font-family: monospace;
}

.score {
  font-size: 2em;
}

/* Modal adapted from W3S tutorial at https://www.w3schools.com/howto/howto_css_modals.asp */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(192,192,192);
}

.youLose {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 0, 255);
}

.modal-content {
  border: 2px solid;
  border-radius: 10px;
  margin: 10% auto;
  padding: 10px 80px;
  width: 35%;
  justify-content: center;
  background: lightgrey;
  box-shadow: 10px 8px 20px 0 rgba(46, 61, 73, 0.8);
}

button {
  margin: 0 auto;
  display: block;
  cursor: pointer;
}
